{% extends 'encyclopedia/layout.html' %}

{% block title %} Edit {{edit_page.data.title}} {% endblock %}

{% block body %}
<h1>Edit {{edit_page.data.title}}</h1>
    <div class='container'>
        <form action='{% url "edit" title=edit_page.data.title %}' method='POST'>
            {% csrf_token %}
            <div class="form-group row">
                <label class="col-sm-1 col-form-label"> Title:</label>
                {{ edit_page.title }}
            </div>   
            <div class="form-group row">
                <label class="col-sm-1 col-form-label"> Content:</label>
                {{ edit_page.content }}
            </div>
            <div class="form-group row">
                <button class="btn btn-primary" type="submit">Save page</button>
            </div>
        </form>
    </div>
{% endblock %}